{% extends 'base.html' %}

{% block content %}
  <h1>Ajouter une salle de classe</h1>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
      {{ form.code.label }}<br>
      {{ form.code(size=32) }}
    </p>
    <p>
      {{ form.nom.label }}<br>
      {{ form.nom(size=32) }}
    </p>
    <p>
      {{ form.niveau.label }}<br>
      {{ form.niveau(size=32) }}
    <p>
      {{ form.heurecours.label }}<br>
      {{ form.heurecours(size=32) }}
    </p>
    <p><button type="submit"> Valider</button></p>
  </form>
{% endblock %}