<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion des emplois de temps{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('admin') }}">Administration</a></li>
                <li><a href="{{ url_for('addEnseignant') }}">Ajouter un enseignant</a></li>
        

            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}
            <!-- Les contenus spécifiques à chaque page seront insérés ici -->
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Établissement scolaire. Tous droits réservés.</p>
    </footer>
</body>
</html>

